.boxes {
  perspective: 500px;

  .boxx {
    width: 400px;
    height: 500px;
    background: url("../images/s7.png") center no-repeat;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;

    .box-title{
      font-size: 30px;
      color: white;
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      transition: transform .5s;
    }
  }

  .boxx:hover{
    transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
  }
  .boxx:hover .card-title{
    transform: translateZ(50px);
  }
}